@import url('https://fonts.googleapis.com/css?family=Yatra+One');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');



.zcool {
  font-family: 'ZCOOL KuaiLe', cursive;

}

.nunito {
  font-family: 'Nunito', sans-serif;
}

.scode {
  font-family: 'Source Code Pro', monospace;
}
.pressstart2p {
  font-family: monospace;
}

.yatra {
  font-family: 'Yatra One', cursive;
}

body {
    background-size: cover;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}
