@import url('https://fonts.googleapis.com/css?family=Yatra+One');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P");



.zcool {
  font-family: 'ZCOOL KuaiLe', cursive;
}
.nunito {
  font-family: 'Nunito', sans-serif;
}

.scode {
  font-family: 'Source Code Pro', monospace;
}

.pressstart2p {
  font-family: 'Press Start 2P', cursive;
}

.yatra {
  font-family: 'Yatra One', cursive;
}

.neon-blue { color: #4e4bec; }
.bg-neon-blue { background-color: #4e4bec; }
.b--neon-blue { border-color: #4e4bec; }
.hover-neon-blue:hover { color: #4e4bec; }

.neon-green { color: #74ee15; }
.bg-neon-green { background-color: #74ee15; }
.b--neon-green { border-color: #74ee15; }



body {
    background-size: cover;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}
