@import url('https://fonts.googleapis.com/css?family=Yatra+One');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.nunito {
  font-family: 'Nunito', sans-serif;
  
}

.pressstart2p {
  font-family: 'Press Start 2P', cursive;    
}

.yatra {
  font-family: 'Yatra One', cursive;
}
html {
  min-height: 100%;
  margin: 0;

} 
body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0,128,128,1) 100%); */
  background-color: #000000;
  background-position: fixed !important;
}

#gradient
{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#app {
  height: 100% !important;
}