

.check > input {
    box-shadow: 5px 5px 4px blue, 10px 10px 4px red, 15px 15px 4px green;
    animation: spin infinite 20s linear;
}

#sketch-holder {
    margin-top: auto; 
    margin-bottom: auto; 
}

.word {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.letter {
    margin: 15px;
}

.gap {
    height: 5px;
    width: 20px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}